# docker
DOCKER_USER=
DOCKER_REPOSITORY=

# fastapi
APP_VERSION=
SECRET_KEY=
COOKIE_DOMAIN=

# ai-worker
AI_WORKER_VERSION=

# db
DB_HOST=
DB_PORT=
DB_EXPOSE_PORT=
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_NAME=
